<div th:fragment="header">
  <nav class="navbar">
    <div class="navbar-container">

      <a href="/templates/concerts/events.html" class="navbar-logo" style="color:white">VLTICKETS</a>
      <form class="search">
        <label class="search-label1">
          <input class="search-input" type="text" placeholder="Choose your city">
        </label>
      </form>

      <div class="navbar-wrap">
        <ul class="navbar-menu" style="color: white">

          <li class="navbar-menu-text"><a href="#">List</a></li>
          <li class="navbar-menu-text"><a href="#">My tickets</a></li>
          <li class="navbar-menu-text"><a href="#">Support</a></li>
        </ul>
        <a href="#" class="login" style="color: white">Log In</a>
      </div>

    </div>
  </nav>
</div>